@import "header";

$red: #f44236;
$green: #29BF12;


*{
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}


.TVInterfaceWrapper {
  overflow: visible !important;
}

.TVInterfaceWrapper .TVSearchButton {
  border-radius: 30px;
}

.TVMainFilter {
  overflow: visible !important;
}


.button {
 font-size: 16px;
  background: $red;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  padding: 0;
  border: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Ubuntu Condensed', sans-serif;
  line-height: 40px;
  text-align: center;
  transition: .3s ease-in-out;

  &:hover{
    background: #29BF12;
  }
}

.scroll-item {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  // background: blue;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
object-fit: cover;
}

.intro {
  height: 25%;
  color: white;
  width: 80%;
position: absolute;
top: calc(25% + 100px);
left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.intro__title {
    // font-family: 'Ubuntu Condensed', sans-serif;
  // font-family: "wichita";
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 75px;
}

.intro__text {
  font-size: 20px;
}

.intro__button{
  // align-self: flex-end;
}


.second {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   // background: url('../assets/fall.jpg');
//    filter: grayscale(23%) blur(2px) opacity(1) brightness(81%) contrast(100%);
// -webkit-filter: grayscale(23%) blur(2px) opacity(1) brightness(81%) contrast(100%);

   .section__content {
     width: 90%;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
   }

  //  &:before{
  //    content: "";
  // position: absolute;
  // top: 0; left: 0;
  // width: 100%; height: 100%;
  // background-image: url('../assets/fall.jpg');
  // filter: grayscale(100%);
  //  }
}


.section__title {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 600px;
  margin-top: 150px;
}
